<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SLYTU4ODQ0NWFkZDlkEVhKpnHUP//EjSvMZMbpevzgTRxPh2coHzVQ5u1TmmD5ufNCNyt9V8u+mRu2QsgMMkhJFZ+qbzrTjkzNhJNqXCAF/3YaGHKHVzi4KWQokKNiYq6GHqFeDaAgu35J82x+5N10WH/tuGqYQhSz9+w8HlSQUVEpevyZQ4/rpUZgXwWYeTa4KUgT</string>
	<key>email</key>
	<string>puginabox@gmail.com</string>
</dict>
</plist>
