<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>8D03FE69-D7AB-43CB-ABED-59B7C795C97B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F12FCBEE-006C-4033-AFAF-382CAA4495B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F12FCBEE-006C-4033-AFAF-382CAA4495B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C0A5F78-FC80-4AAB-B82A-B7BF1F295921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>project starter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gulp-scaffolding</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>git clone git@github.com:puginabox/gulp-scaffolding.git &amp;&amp; mv gulp-scaffolding prototype &amp;&amp; cd prototype &amp;&amp; npm install &amp;&amp; gulp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3C0A5F78-FC80-4AAB-B82A-B7BF1F295921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gulpstarter</string>
				<key>text</key>
				<string>gulp-scaffolding</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D03FE69-D7AB-43CB-ABED-59B7C795C97B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F12FCBEE-006C-4033-AFAF-382CAA4495B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3C0A5F78-FC80-4AAB-B82A-B7BF1F295921</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8D03FE69-D7AB-43CB-ABED-59B7C795C97B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F12FCBEE-006C-4033-AFAF-382CAA4495B9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
