<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7ED15F48-8D16-4DFE-A063-3FDFEC59FA4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06D67D3F-CE89-4E7F-B99F-C0EA59CDF9EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>git push to github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gitpush</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>git remote add origin https://github.com/puginabox/{query}.git &amp;&amp; git remote -v &amp;&amp; git push -u origin master</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>06D67D3F-CE89-4E7F-B99F-C0EA59CDF9EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gitpush</string>
				<key>text</key>
				<string>Git Push to GitHub</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ED15F48-8D16-4DFE-A063-3FDFEC59FA4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06D67D3F-CE89-4E7F-B99F-C0EA59CDF9EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7ED15F48-8D16-4DFE-A063-3FDFEC59FA4A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
